<table class="table text-center">
    <tr *ngFor="let job of jobs; let i= index" [attr.data-index]='i'>
        <td>
            {{job}}
        </td>
        <td>
            <button mat-stroked-button color="primary" (click)="removejob(i)">remove</button>
        </td>
    </tr>
</table>

<div class="input-group mb-3">
    <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="newjob">
        <option selected disabled>Choose...</option>
        <option value="tyre">tyre</option>
        <option value="chain">chain</option>
        <option value="indicator">indicator</option>
    </select>
    <div class="input-group-append">
        <button mat-raised-button color="primary" class="input-group-text" for="inputGroupSelect02"
            (click)="addjob()">Add jobs</button>
    </div>
</div>

<hr>

<div class="form-group row">
    <label for="example-datetime-local-input" class="col-3 col-form-label">out-Date</label>
    <div class="col-9">
        <input name="datetime-end" class="form-control" type="datetime-local" [(ngModel)]="outDate"
            (ngModelChange)="outDate = $event" id="example-datetime-local-input">
    </div>
</div>
<hr>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Cost</label>
    <div class="col-9">
        <input class="form-control" type="number" [(ngModel)]="cost" placeholder="₹" id="example-text-input">
    </div>
</div>

<hr>
<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Owner Name</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="vehicleOwner"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Owner address</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="OwnerAddress"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Owner pincode</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="OwnerPincode"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Owner Mobile no</label>
    <div class="col-9">
        <input class="form-control" type="number" [(ngModel)]="ownerMobileno"  id="example-text-input">
    </div>
</div>

<hr>
<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Vehicle Company</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="vehicleCompany"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Vehicle Number</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="vehicleNumber"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Vehicle Type</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="vehicleType"  id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Vehicle Model</label>
    <div class="col-9">
        <input class="form-control" type="text" [(ngModel)]="vehicleModel"  id="example-text-input">
    </div>
</div>


<div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Vehicle CC</label>
    <div class="col-9">
        <input class="form-control" type="number" [(ngModel)]="cc"  id="example-text-input">
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="startjob(ownerMobileno)">start</button>
</div>